* {
		margin: 0;
		padding: 0;
		box-sizing: border-box:
		font-family: "Freshman", sans-serif:
}

header {
	   display: flex;
	   justify-content: space-between;
	   padding: 20px 50px;
	   backdrop-filter: blur(10px);
}

body  {
	background: linear-gradient(135deg, #1e1e2e, #282a36);
	color: white;
	text-align: center;

header nav a { 
	margin: 0 15px;
	text-decoration: none;
	color: #ddd;
	transition: 0.3s;
}

header nav a: hover { 
    color: #00ffee;
}

logo {  
    font-size: 24px;
	font-weight: 700;
}

hero {
	padding: 60px 20 px;
}

profile-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 20px;
	border: 4px solid #00ffee;
	box-shadow: 0 0 20px #00ffee;
}

profile-pic img {
	width: 100%;
	height: 100%;
	obeject-fit: cover;
}

hero h2 {
	font-size: 32px;
}

hero span {
	color: #00ffee;
}

role {
	margin-top: 10px;
	opacity: 0.8;
}

box {
	background:
	padding: 30px;
	width: 80%;
	margin: 30px auto;
	border-radius: 12px;
	bakcdrop filter: blur (5px);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

footer {
	padding: 15px;
	margin-top: 40px;
	opacity: 0.7;
}